<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.decisioncustom.mapper.MTextTypeMapper" >
  <resultMap id="BaseResultMap" type="com.decisioncustom.domain.MTextType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="text_type" property="textType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, text_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from m_text_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from m_text_type
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from m_text_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.decisioncustom.domain.MTextType" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into m_text_type (text_type)
    values (#{textType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.decisioncustom.domain.MTextType" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into m_text_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="textType != null" >
        text_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="textType != null" >
        #{textType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.decisioncustom.domain.MTextType" >
    update m_text_type
    <set >
      <if test="textType != null" >
        text_type = #{textType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.decisioncustom.domain.MTextType" >
    update m_text_type
    set text_type = #{textType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
