.ro{
    height: 40px;
}
.msg{ font-size: 13px; }
.high{ color: red; }
.onError{ color: red; }
.onSuccess{ color: green; }
.inline{
    display: inline;
}
#createTime{
    width: 80px;
}
#handleTime{
    width: 80px;
}
.bootstrap-select>.dropdown-toggle{
    width: 80px;
    height: 30px;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 80px;
}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
    float: none;
    display: inline-block;
    margin-left: -4px;
    vertical-align: -25px;
}
a.close {
    position: absolute;
    top: 15px;
    right: 13px;
    width: 24px;
    height: 24px;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    line-height: 22px;
    color: lightslategrey;
    background-color: lightgrey;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transition: .25s;
}
.form-control{
    font-size: 13px;
    height: 30px;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #e9e9e9;
    transition-duration: .5s;
}
.bootstrap-select.form-control:not([class*="col-"]) {
    width: 8%;
}